@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid p-0">
    <div class="container-fluid Notify">
        <div class="row">
            <div class="col-12">
                <p>
                    WSE quotes delayed by 15 minutes.
                </p>
            </div>
        </div>
    </div>
</div>
