@model Stock.Models.Observed

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 p-3">Dodaj spółkę</h2>
        </div>

        <div class="form-group row">
            <div class="col-4">
                Nazwa spółki
            </div>
            <div class="col-4">
                Liczba akcji
            </div>
            <div class="col-4">
                Cena za akcje
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                TEXTBOX HERE
            </div>
            <div class="col-4">
                TEXTBOX HERE
            </div>
            <div class="col-4">
                TEXTBOX HERE
            </div>
        </div>

        <div class="form-group row">
            <div class="col-8 offset-2 row">
                <div class="col">
                    CREATEBUTTON
                </div>
                <div class="col">
                    BACKBUTTON
                </div>
            </div>
        </div>

    </div>
</form>